<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Departamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Cadastro de Departamento</h2>
    <form id="cadastroForm">
        <div class="form-group">
            <label for="unidadeTrabalho">Unidade de Trabalho:</label>
            <input type="text" class="form-control" id="unidadeTrabalho" value="SEPLAG" readonly>
        </div>
        <div class="form-group">
            <label for="nomeDepartamento">Nome do Departamento:</label>
            <input type="text" class="form-control" id="nomeDepartamento">
        </div>
        <button type="button" class="btn btn-primary" onclick="cadastrarDepartamento()">Cadastrar</button>
    </form>
</div>

<script>
    function cadastrarDepartamento() {
        var unidadeTrabalho = document.getElementById("unidadeTrabalho").value;
        var nomeDepartamento = document.getElementById("nomeDepartamento").value;

        var data = {
            "unidadeTrabalho": unidadeTrabalho,
            "nomeDepartamento": nomeDepartamento
        };

        fetch('/departamentos/salvar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    alert('Departamento cadastrado com sucesso!');
                    // Aqui você pode fazer qualquer outra ação após o cadastro, como redirecionar para outra página
                } else {
                    throw new Error('Erro ao cadastrar departamento');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao cadastrar departamento');
            });
    }
</script>
</body>
</html>
