<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Departamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Cadastro de Departamento</h2>
    <form id="cadastroForm" method="post" action="/departamentos/salvar">
        <div class="form-group">
            <label for="unidadeTrabalho">Unidade de Trabalho:</label>
            <input type="text" class="form-control" id="unidadeTrabalho" value="SEPLAG" readonly>
        </div>
        <div class="form-group">
            <label for="nomeDepartamento">Nome do Departamento:</label>
            <input type="text" class="form-control" id="nomeDepartamento" name="nomeDepartamento">
            <div th:if="${mensagem}" class="alert alert-danger mt-2" role="alert">
                <span th:text="${mensagem}"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
</body>
</html>
