<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Departamentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/webjars/font-awesome/5.15.1/css/all.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <!--    <a class="navbar-brand" href="#">Minha Empresa</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownFuncionarios" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Funcionários
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownFuncionarios">
                        <a class="dropdown-item" href="/cadastro">Cadastro</a>
                        <a class="dropdown-item" href="/funcionarios/listar">Listar</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownFerias" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Férias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownFerias">
                        <a class="dropdown-item" href="/registroFerias">Cadastrar</a>
                        <a class="dropdown-item" href="/historicoFeriasModel">Histórico</a>
                        <a class="dropdown-item" href="/funcionarios-em-ferias">Em Férias</a>
                        <a class="dropdown-item" href="/ferias/pendentes">Férias Pendentes</a>
                        <a class="dropdown-item" href="/ferias/direito">Direito à Férias</a>
                    </div>
                </div>
            </li>
            <!-- Novo menu "Departamento" -->
            <li class="nav-item">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownDepartamento" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Departamento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownDepartamento">
                        <a class="dropdown-item" href="/departamentos/cadastrar">Cadastrar</a>
                        <a class="dropdown-item" href="/departamentos/listar">Exibir</a>
                    </div>
                </div>
            </li>
            <!-- Fim do novo menu -->
            <!-- Novo menu "Cargos" -->
            <li class="nav-item">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownCargos" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cargos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCargos">
                        <a class="dropdown-item" href="/cargos/cadastrar">Cadastrar</a>
                        <a class="dropdown-item" href="/cargos/exibir">Exibir</a>
                    </div>
                </div>
            </li>
            <!-- Fim do novo menu -->
            <!-- Novo menu "Ocorrências" -->
            <li class="nav-item">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownOcorrencias" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ocorrências
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownOcorrencias">
                        <a class="dropdown-item" href="/ocorrencias/afastamento">Afastamento</a>
                        <!-- Adicione mais opções conforme necessário -->
                    </div>
                </div>
            </li>
            <!-- Fim do novo menu -->
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2>Lista de Departamentos</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Unidade de Trabalho</th>
            <th>Nome do Departamento</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="departamento : ${departamentos}">
            <td th:text="${departamento.unidadeTrabalho}"></td>
            <td th:text="${departamento.nomeDepartamento}"></td>
            <td>
                <!-- Botão de Excluir -->
                <!-- Botão de Excluir -->
                <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirmarExclusao' + ${departamento.id}">
                    <i class="fas fa-trash"></i> Excluir
                </button>
                <!-- Botão de Editar -->
                <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#editarModal' + ${departamento.id}">
                    <i class="fas fa-edit"></i> Editar
                </button>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal de Confirmação de Exclusão -->
<div th:each="departamento : ${departamentos}" class="modal fade" th:id="'confirmarExclusao' + ${departamento.id}" tabindex="-1" role="dialog" aria-labelledby="confirmarExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarExclusaoLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o departamento <strong th:text="${departamento.nomeDepartamento}"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a th:href="@{/departamentos/excluir/{id}(id=${departamento.id})}" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição -->
<!-- Modal de Edição -->
<div th:each="departamento : ${departamentos}" class="modal fade" th:id="'editarModal' + ${departamento.id}" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form th:action="@{/departamentos/editar}" th:object="${departamento}" method="post">
                <div class="modal-body">
                    <!-- Formulário de Edição -->
                    <div class="form-group">
                        <label for="unidadeTrabalho">Unidade de Trabalho:</label>
                        <input type="text" class="form-control" id="unidadeTrabalho" value="SEPLAG" readonly>
                        <!-- Campo oculto para enviar o valor de Unidade de Trabalho -->
                        <input type="hidden" name="unidadeTrabalho" value="SEPLAG">
                    </div>
                    <div class="form-group">
                        <label for="nomeDepartamento">Nome do Departamento:</label>
                        <input type="text" class="form-control" id="nomeDepartamento" name="nomeDepartamento" th:value="${departamento.nomeDepartamento}">
                        <!-- Campo oculto para enviar o ID do departamento -->
                        <input type="hidden" name="id" th:value="${departamento.id}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times"></i> Fechar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Salvar
                    </button>

                </div>
            </form>

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Seleciona todas as linhas na tabela de departamentos
        var linhas = document.querySelectorAll("table tr");

        linhas.forEach(function(linha, index) {
            // Aplica classe baseada na paridade do índice
            if (index % 2 === 0) {
                linha.classList.add("departamento-cor-1");
            } else {
                linha.classList.add("departamento-cor-2");
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
