<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funcionários</title>

    <!-- Carregando Bootstrap do WebJar -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
</head>
<body>

<div class="container mt-5">
    <h2>Lista de Funcionários Cadastrados</h2>

    <!-- Tabela para exibir a lista de funcionários -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Cargo</th>
            <th scope="col">Setor</th>
            <th scope="col">Função</th>
            <!-- Adicione mais colunas conforme necessário -->
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre a lista de funcionários e exibe cada um na tabela -->
        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.matricula}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cpf}"></td>
            <td th:text="${funcionario.cargo}"></td>
            <td th:text="${funcionario.setor}"></td>
            <td th:text="${funcionario.funcao}"></td>
            <!-- Adicione mais colunas conforme necessário -->
        </tr>
        </tbody>
    </table>

    <!-- Link para voltar à página inicial -->
    <a href="/" class="btn btn-primary">Voltar à Página Inicial</a>
</div>

<!-- Carregando Bootstrap JS e Popper.js do WebJar -->
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
