<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Férias</title>
</head>
<body>
<h2>Registro de Férias</h2>
<form th:action="@{/registroFerias}" th:object="${registroFeriasRequest}" method="post">
    <div>
        <label for="funcionarioId">Funcionário:</label>
        <select id="funcionarioId" name="funcionarioId" required>
            <option value="">Selecione um Funcionário</option>
            <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}">Nome do Funcionário</option>
        </select>
    </div>
    <div>
        <label for="inicioFerias">Data de Início:</label>
        <input type="date" id="inicioFerias" name="inicioFerias" th:field="*{inicioFerias}" required />
    </div>
    <div>
        <label for="dias">Duração (dias):</label>
        <input type="number" id="dias" name="dias" th:field="*{dias}" required />
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-4">Cadastrar</button>
    </div>
</form>
</body>
</html>
